---
layout: default
title: Artica Projects
---

<div class="column-group gutters">
	<div class="large-20 medium-20 small-100">
		<header>
			<nav class="ink-navigation sticky" id="projects_menu">
				<ul class="menu vertical rounded black">
					<li><a class="scrollableLink" href="/projects#projects_menu"><span class="icon-chevron-up"></span> Back to Top</a></li>
					<li><a class="scrollableLink" href="#interactive">Interactive Instalations</a></li>
					<li><a class="scrollableLink" href="#projection">Video Projection</a></li>
					<!--<li><a class="scrollableLink" href="#physical">Physical Interfaces</a></li>-->
					<li><a class="scrollableLink" href="#hardware">Hardware & Robotics</a></li>
					<!--<li><a class="scrollableLink" href="#education">Educational Robotics</a></li>-->
					<li><a class="scrollableLink" href="#workshops">Workshops</a></li>
					<li><a class="scrollableLink" href="#red">R&D</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="large-80 medium-80 small-100 content" style="padding-top:23px;">
    {% include projects_category.html catg="interactive" title="Interactive Instalations" %}
    {% include projects_category.html catg="projection" title="Video Projection" %}
    <!--{% include projects_category.html catg="physical" title="Physical Interfaces" %}-->
    {% include projects_category.html catg="hardware" title="Hardware & Robotics" %}
    <!--{% include projects_category.html catg="education" title="Educational Robotics" %}-->
    {% include projects_category.html catg="workshops" title="Workshops" %}
    {% include projects_category.html catg="red" title="R&D" %}
	</div>
</div>