---
layout: default
title: Artica Creative Computing
---
<div class="column-group">

    <div class="large-100 medium-100 small-100 motto">
    We aim to transform emerging technologies and art into impactful human experiences. Artica digs electronics, education, robots, digital fabrication, prototyping, and all things creative.
    </div>

</div>

<div class="column-group gutters">

	<div class="large-100 medium-100 small-100 headline shadows">
        <a href="/projects/interactive/2013/07/15/ciav-tech-report.html">
		   <img src="/assets/images/ciav.jpg" alt="CIAV">
           <h2 class="fadein">Centro de Interpretação de Almada Velha</h2>
        </a>
	</div>

    <div class="large-100 medium-100 small-100 headline shadows">
        <a href="/blog/2012/11/21/sega-rally-championship-codebits-vi.html">
           <img src="/assets/images/sega.jpg" alt="Sega Rally">
           <h2 class="fadein">Hacked Sega Rally at Codebits 2012</h2>
        </a>
    </div>

    <div class="large-100 medium-100 small-100">
        <h2>From the Blog...</h2>
    </div>

    <div class="large-50 medium-100 small-100">
        {% assign pid=0 %}
        {% for post in site.posts %}
        {% for category in post.categories %}
        {% if category == "blog" and pid == 0 and post.frontimage %}

            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

            <p class="shadows vspace">
                <a href="{{ post.url }}"><img src="{{ post.frontimage }}"></a>
            </p>
            <p>
                {{ post.longexcerpt | replace: "\'", "'" }}
            </p>
            <small>{{ post.date | date_to_long_string }}</small>

            <p><a href="{{ post.url }}">Read the full post</a></p>

        {% assign pid=post.url %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <div class="large-50 medium-100 small-100">


        {% assign pcount=1 %}
        {% for post in site.posts %}
        {% for category in post.categories %}
        {% if category == "blog" and post.url != pid and pcount <= 3 and post.thumbnail %}

        <div class="column-group gutters">

            <div class="large-70 medium-70 small-100">

                <b><a href="{{ post.url }}">{{ post.title }}</a></b>
                <p>
                    {{ post.excerpt | replace: "\'", "'" }}
                </p>
                <small>{{ post.date | date_to_long_string }}</small>
            </div>

            <div class="large-30 medium-30 small-100 shadows">
                <a href="{{ post.url }}"><img class="bw" src="{{ post.thumbnail }}"></a>
            </div>

        </div>

        {% assign pcount=pcount | plus:1 %}
        {% endif %}
        {% endfor %}
        {% endfor %}


    </div>

    <div class="large-100 medium-100 small-100">
        <h2>More Artica...</h2>
    </div>

    <div class="large-50 medium-50 small-100 headline shadows">
        <a href="/blog/2013/09/26/audience-pong.html">
            <img class="bw" src="/assets/images/audiencepong.png" alt="Audience Pong">
            <h3 class="fadein">Audience Pong</h3>
        </a>
    </div>

    <div class="large-50 medium-50 small-100 headline shadows">
        <a href="/blog/2012/10/01/shop-window-interactive-instalation.html">
            <img class="bw" src="/assets/images/shopwindow.png" alt="Shop Window">
            <h3 class="fadein">Shop Window</h3>
        </a>
    </div>

    <div class="large-50 medium-50 small-100 headline shadows">
        <a href="/blog/2012/01/06/artica-showreel-2011.html">
            <img class="bw" src="/assets/images/reel2011.png" alt="Farrusco">
            <h3 class="fadein">Showreel 2011</h3>
        </a>
    </div>

    <div class="large-50 medium-50 small-100 headline shadows">
        <a href="/blog/2013/03/27/showreel-2012.html">
            <img class="bw" src="/assets/images/reel2012.png" alt="Showreel">
            <h3 class="fadein">Showreel 2012</h3>
        </a>
    </div>

</div>
