---
layout: default
title: Artica Creative Computing
js: [jquery]
---
<div class="column-group">
  <div class="large-100 medium-100 small-100 motto" style="padding-top: 20px; padding-bottom: 40px; vertical-align:top;">
    We transform emerging technologies and art into <span id="word-slider" style="vertical-align:top"></span> human experiences.<br />
    Artica digs electronics, education, robots, digital fabrication, prototyping, and all things creative.
  </div>
</div>

<div id="myCarousel" class="ink-carousel" data-auto-advance="7000" data-axix="x" data-initial-page="0" data-pagination="#myCarouselNav" data-swipe="true">
  <!-- the carousel stage and slides -->
  <ul class="stage column-group half-gutters">
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/projects/interactive/2013/07/15/ciav-tech-report.html"><img src="/assets/homepage/03.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/projects/interactive/2012/11/21/sega-rally-championship-codebits-vi.html"><img src="/assets/homepage/05.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/projects/interactive/2013/09/26/audience-pong.html"><img src="/assets/homepage/06.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/workshops/2013/11/03/casa-do-conhecimento-robotics-exhibition.html"><img src="/assets/homepage/07.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/projects/projection/2011/09/20/e-como-diz-o-outro-the-post.html"><img src="/assets/homepage/09.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/physical/interfaces/2014/03/18/fm-stream.html"><img src="/assets/homepage/11.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://vimeo.com/42973045"><img src="/assets/homepage/12.jpg"></a>
    </li>
    <li class="slide large-100 medium-100 small-100">
      <a href="http://artica.cc/projects/customrobotics/2011/12/30/sapobot.html"><img src="/assets/homepage/13.jpg"></a>
    </li>
  </ul>
  <nav id="myCarouselNav" class="ink-navigation align-center">
    <ul class="pagination dotted blue"></ul>
  </nav>
</div>

<div class="column-group gutters">

  <div class="large-100 medium-100 small-100">
    <h2>From the Blog...</h2>
  </div>

  <div class="large-50 medium-100 small-100 bweffect">
    {% assign pid=0 %}
    {% for post in site.posts %}
    {% for category in post.categories %}
    {% if category == "blog" and pid == 0 and post.frontimage %}

    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <p class="shadows vspace">
      <a href="{{ post.url }}"><img src="{{ post.frontimage }}"></a>
    </p>
    <p>
      {% if post.longexcerpt %}
      {{ post.longexcerpt | replace: "\'", "'" }}
      {% else %}
      {{ post.excerpt | replace: "\'", "'" }}
      {% endif %}
    </p>
    <small>{{ post.date | date_to_long_string }}</small>

    <p><a href="{{ post.url }}">Read the full post</a></p>

    {% assign pid=post.url %}
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>

  <div class="large-50 medium-100 small-100">

    {% assign pcount=1 %}
    {% for post in site.posts %}
    {% for category in post.categories %}
    {% if category == "blog" and post.url != pid and pcount <= 3 and post.thumbnail %}

    <div class="column-group gutters bweffect">

      <div class="large-70 medium-70 small-100">

        <b><a href="{{ post.url }}">{{ post.title }}</a></b>
        <p>
          {{ post.excerpt | replace: "\'", "'" }}
        </p>
        <small>{{ post.date | date_to_long_string }}</small>
      </div>

      <div class="large-30 medium-30 small-100 shadows">
        <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
      </div>

    </div>

    {% assign pcount=pcount | plus:1 %}
    {% endif %}
    {% endfor %}
    {% endfor %}

  </div>

  <div class="large-100 medium-100 small-100">

	<h2>Ongoing R&D Projects</h2>
	
	<div class="large-100 medium-100 small-100"></div>
	
	<div class="large-30 medium-30 small-100 shadows">
		<a href="http://physical-computing.artica.cc"><img src="/assets/thumbs/2016-08-16-p2020.jpg"></a>
	</div>
	
	<div class="large-70 medium-70 small-100">
		<b><a href="http://physical-computing.artica.cc">Physical Computing</a></b>
		<p>A 2 year plan focused on developing Artica's physical computing skills to bring greater value to the creative industry market where we operate.</p>
	</div>
	
	<div class="large-100 medium-100 small-100"></div>
	
	<div class="large-30 medium-30 small-100 shadows">
		<a href="http://interact.artica.cc"><img src="/assets/thumbs/2018-09-26-interact.jpg"></a>
	</div>
	
	<div class="large-70 medium-70 small-100">
		<b><a href="http://interact.artica.cc">INTERACT</a></b>
		<p>A 2 year plan focused on developing Artica's interactive technology to bring greater value to the creative industry market where we operate. Interactive New Tecnologies Regarding Augmentation in a Computerized Taxonomy - INTERACT.</p>
	</div>

  </div>

  <div class="large-100 medium-100 small-100"></div>
  
</div>
