<footer>
  <div class="ink-grid">
    <div class="column-group">
      <nav class="large-50 medium-50 small-100 ink-navigation social">
        <a href="https://twitter.com/artica_cc">
          <span class="icon-twitter"></span>
        </a>
        <a href="https://www.facebook.com/artica.cc">
          <span class="icon-facebook"></span>
        </a>
        <a href="https://www.youtube.com/user/articacc">
          <span class="icon-youtube"></span>
        </a>
        <a href="https://github.com/artica">
          <span class="icon-github-alt"></span>
        </a>
		<a href="https://www.instagram.com/articacc/">
          <span class="fa fa-instagram"></span>
        </a>
        <a href="http://www.slideshare.net/articacc">
          <span class="fa fa-slideshare"></span>
        </a>
        <a href="/blog/feed.xml">
          <span class="icon-rss"></span>
        </a>
        <a href="/contacts/">
          <span class="icon-envelope"></span>
        </a>
      </nav>
      <div class="large-50 medium-50 small-100 ink-navigation partners">
        <a href="http://ink.sapo.pt/" target="_blank">
          <img src="/assets/logos/poweredbyink.png">
        </a>
		<a href="http://www.mind-shaker.com/" target="_blank">
          <img src="/assets/logos/mindshaker.png">
        </a>
        <a href="http://www.qren.pt/" target="_blank">
          <img src="/assets/logos/qren1.png">
        </a>
        <a href="http://www.qren.pt/" target="_blank">
          <img src="/assets/logos/qren2.png">
        </a>
		<a href="http://www.portugal2020.pt" target="_blank">
          <img src="/assets/logos/p2020.png">
        </a>
        <a href="http://europa.eu/index_en.htm" >
          <img src="/assets/logos/qren3.png">
        </a>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/lunr.min.js"></script>
<script type="text/javascript" src="/js/holder.js"></script>
<script type="text/javascript" src="/js/ink.min.js"></script>
<script type="text/javascript" src="/js/ink.carousel.js"></script>
<script type="text/javascript" src="/js/ink-ui.min.js"></script>
<script type="text/javascript" src="/js/autoload.js"></script>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<script type="text/javascript" src="/js/posts.js"></script>
<script type="text/javascript" src="/js/prettify/prettify.js"></script>

{% if include.maps == "yes" %}
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/js/jquery.ui.map.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="/js/jquery.ui.map.services.min.js"></script>
{% endif %}

<script type="text/javascript" src="/js/local.js"></script>