<footer>
  <div class="ink-grid">
    <div class="column-group">
      <nav class="large-100 medium-100 small-100 ink-navigation social">
        <a href="https://twitter.com/artica_cc">
          <span class="icon-twitter"></span>
        </a>
        <a href="https://www.facebook.com/artica.cc">
          <span class="icon-facebook"></span>
        </a>
        <a href="https://www.youtube.com/user/articacc">
          <span class="icon-youtube"></span>
        </a>
        <a href="https://github.com/artica">
          <span class="icon-github-alt"></span>
        </a>
		<a href="https://www.instagram.com/articacc/">
          <span class="fa fa-instagram"></span>
        </a>
        <a href="http://www.slideshare.net/articacc">
          <span class="fa fa-slideshare"></span>
        </a>
        <a href="/blog/feed.xml">
          <span class="icon-rss"></span>
        </a>
        <a href="/contacts/">
          <span class="icon-envelope"></span>
        </a>
      </nav>
	</div>
  <div class="ink-grid">
	<div class="column-group">
  <nav class="large-100 medium-100 small-100 ink-navigation social">
    <a href="http://www.qren.pt/" target="_blank">
          <img src="/assets/logos/qren1.png">
        </a>
  
    <a href="http://www.qren.pt/" target="_blank">
          <img src="/assets/logos/qren2.png">
        </a>

     <a href="http://lisboa.portugal2020.pt/" target="_blank">
          <img src="/assets/logos/lisboa2020.png">
        </a>

    <a href="https://www.iefp.pt/"  target="_blank">
          <img src="/assets/logos/iefp.png">
        </a>
  
    <a href="http://poise.portugal2020.pt/"  target="_blank">
          <img src="/assets/logos/poise.png">
        </a>

    <a href="http://ec.europa.eu/regional_policy/pt/funding/erdf/"  target="_blank">
          <img src="/assets/logos/qren3.png">
        </a>
	
  	<a href="http://ec.europa.eu/esf/home.jsp?langId=pt"  target="_blank">
          <img src="/assets/logos/ue_fundo.png">
        </a>
	
  	<a href="http://ec.europa.eu/social/main.jsp?catId=1176&langId=pt" target="_blank">
          <img src="/assets/logos/ue_fundo2.png">
        </a>

    <a href="http://www.poci-compete2020.pt/" target="_blank">
          <img src="/assets/logos/compete2020.png">
        </a>

    <a href="https://www.portugal2020.pt/Portal2020" target="_blank">
          <img src="/assets/logos/p2020.png">
        </a>
  
    <a href="https://ec.europa.eu/info/funding-tenders/funding-opportunities/funding-programmes/overview-funding-programmes/european-structural-and-investment-funds_pt" target="_blank">
          <img src="/assets/logos/uniaoeuropeia_feei.png">
        </a>

      </nav>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/lunr.min.js"></script>
<script type="text/javascript" src="/js/holder.js"></script>
<script type="text/javascript" src="/js/ink.min.js"></script>
<script type="text/javascript" src="/js/ink.carousel.js"></script>
<script type="text/javascript" src="/js/ink-ui.min.js"></script>
<script type="text/javascript" src="/js/autoload.js"></script>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<script type="text/javascript" src="/js/posts.js"></script>
<script type="text/javascript" src="/js/prettify/prettify.js"></script>

{% if include.maps == "yes" %}
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/js/jquery.ui.map.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="/js/jquery.ui.map.services.min.js"></script>
{% endif %}

<script type="text/javascript" src="/js/local.js"></script>