<header>
    <div>
    <h1 class="pull-left">
        <a href="/"><img src="/img/artica_small_bw.png"></a>
        <small class="hide-medium hide-small">creative computing</small>
    </h1>

    <nav class="ink-navigation pull-right hide-small">
        <ul class="menu horizontal black rounded shadowed">
            <li id="nav_team"><a href="/team/">about</a></li>
            <li id="nav_clients"><a href="/clients/">clients</a></li>
            <li id="nav_projects"><a href="/projects/">projects</a></li>
            <li id="rd"><a href="/rd/">R&D</a></li>
            <li id="nav_robotics"><a href="/robotics/">robotics</a></li>
            <li id="nav_einstein"><a href="/einstein/">einstein</a></li>
            <li id="nav_blog"><a href="/blog/">blog</a></li>
            <li id="nav_contacts"><a href="/contacts/">contacts</a></li>
        </ul>
    </nav>

    <nav class="ink-navigation pull-right ink-grid hide-all show-small">
        <ul class="menu vertical flat nav_button">
            <li>
                <button class="toggle black" data-target="#topbar_menu" id="toggleVisibility">
                    <i class="icon-reorder"></i>
                </button>
            </li>
        </ul>
        <div class="vspace">
            <ul class="menu horizontal shadowed grey hide-all" id="topbar_menu">
                <li id="nav_team"><a href="/team/">about</a></li>
                <li id="nav_clients"><a href="/clients/">clients</a></li>
                <li id="nav_projects"><a href="/projects/">projects</a></li>
                <li id="rd"><a href="/rd/">R&D</a></li>
                <li id="nav_robotics"><a href="/robotics/">robotics</a></li>
                <li id="nav_einstein"><a href="/einstein/">einstein</a></li>
                <li id="nav_blog"><a href="/blog/">blog</a></li>
                <li id="nav_contacts"><a href="/contacts/">contacts</a></li>
            </ul>
        </div>
    </nav>

<script type="text/javascript">
    NavbarSelect();
</script>
</div>
</header>
