<header>
  <div>
    <h1 class="pull-left">
      <a href="/"><img src="/assets/logos/artica_small_bw.png"></a>
      <small class="hide-medium hide-small">creative computing</small>
    </h1>

    <nav class="ink-navigation pull-right hide-small">
      <ul class="menu horizontal black rounded shadowed">
        <li id="nav_about"><a href="/about/">about</a></li>
        <li id="nav_projects"><a href="/projects/">projects</a></li>
        <li id="nav_products"><a href="/products/">products</a></li>
        <li id="nav_media"><a href="/media/">media</a></li>
        <li id="nav_blog"><a href="/blog/">blog</a></li>
        <li id="nav_jobs"><a href="/jobs/">jobs</a></li>
        <li id="nav_contacts"><a href="/contacts/">contacts</a></li>
      </ul>
    </nav>

    <nav class="ink-navigation pull-right ink-grid hide-all show-small">
      <ul class="menu vertical flat nav_button">
        <li>
          <button class="toggle black" data-target="#topbar_menu" id="toggleVisibility">
            <i class="icon-reorder"></i>
          </button>
        </li>
      </ul>
      <div class="vspace">
        <ul class="menu horizontal shadowed black hide-all" id="topbar_menu">
			<li><a href="/about/">about</a></li>
			<li><a href="/projects/">projects</a></li>
			<li><a href="/products/">products</a></li>
			<li><a href="/media/">media</a></li>
			<li><a href="/blog/">blog</a></li>
			<li><a href="/jobs/">jobs</a></li>
			<li><a href="/contacts/">contacts</a></li>
        </ul>
      </div>
    </nav>

  </div>
</header>
