<section id="{{ include.catg }}" data-spy="true" data-target="#projects_menu">

  <h2>{{ include.title }}</h2>

  <div class="column-group gutters">
    {% for post in site.posts %}
    {% for category in post.categories %}
    {% if category == include.catg %}

    <div class="large-100">
      <div class="column-group">
        <div class="large-33 medium-33 small-100">
         <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
       </div>
       <div class="large-66 medium-66 small-100">
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <p>{{ post.excerpt }}</p>
      </div>
    </div>
  </div>
  
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>

</section>