<!DOCTYPE html>
<html lang="en">
    {% assign published = page.date | date: "%Y-%m-%d" %}
    {% include header.html description=page.excerpt title=page.title thumbnail=page.frontimage lang="en" published=published %}
<body>
<div class="ink-grid">
    {% include navigation.html %}
    <section class="column-group gutters article">
        <div class="large-20 medium-20 hide-small fadein">
            <h2>More stories</h2>
            <form id="search-form" data-search="relatedposts" class="ink-form">
                <fieldset>
                    <div class="control">
                        <span class="search icon-search"></span>
                        <input type="text" autocomplete="off" id="searchterm">
                    </div>
                </fieldset>
            </form>
            <div class="vspace related">
                <nav class="ink-navigation">
                    <ul id="relatedposts"/>
                </nav>
            </div>
        </div>
        <div class="large-80 medium-80 small-100">
            <article class="shadows">
                <h1>{{ page.title | replace: "\'", "'"}}</h1>
                <p>Published in <time pubdate="pubdate">{{ page.date | date_to_string }}</time></p>
                <p>{{ content }}</p>
                <span class="pubdate">{{ page.date | date: "%b %d, %Y" }}</span>
            </article>
            {% if site.disqus_shortname %}
            <p>
            <h2>Comments</h2>
            {% include disqus.html shortname=site.disqus_shortname %}
            </p>
            {% endif %}
        </div>
    </section>
</div>
{% include footer.html %}
</body>
</html>
