<!DOCTYPE html>
<html lang="en">    
{% include header.html description=page.excerpt title=page.title thumbnail=page.frontimage lang="en" %}
<body>
<div class="ink-grid">
    {% include navigation.html %}

    <section class="column-group gutters article">

        <div class="large-25 medium-25 hide-small fadein">

            <h2>More stories</h2>

            <form action="#" id="search-form" onsubmit="return(false);" onchange="search('relatedposts');" class="ink-form">
                <fieldset>
                    <div class="control">
                        <span class="search icon-search"></span>
                        <input type="text" autocomplete="off" id="searchterm">
                    </div>
                </fieldset>
            </form>

            <div class="vspace related">
                <nav class="ink-navigation">
                    <ul id="relatedposts"/>
                </nav>
            </div>

        </div>

        <div class="large-75 medium-75 small-100">

            <article class="shadows">
                <h1>{{ page.title | replace: "\'", "'"}}</h1>
                <p>Published in <time pubdate="pubdate">{{ page.date | date_to_string }}</time></p>
                <p>{{ content }}</p>
            </article>

            {% if site.disqus_shortname %}
            <p>
            <h2>Comments</h2>
            {% include disqus.html shortname=site.disqus_shortname %}
            </p>
            {% endif %}
        </div>

    </section>
</div>
{% include footer.html %}
</body>
</html>
